{% extends 'base.html' %}

{% load static %}
{% load log_tags %}
{% block content %}
{% with request.get_full_path as url %}
{# ref is returned as the position in the log array #}
{% with reference=logs|index:ref %}
 <table class="table">
    <thead>
    {% for log in logs %}
       <th>
            {% unique_id_for_filter log.pk forloop.counter0 as id %}
            {% include 'filter.html' with log=log id=id filter=log|filter%}
       </th>
    {% endfor %}
    </thead>
    <tr>
        {% for log in logs %}
            <td>
                <a href="{{url|create_ref_url:forloop.counter0}}" class="{% if log == reference %} selected {% else %} not-selected {% endif %}">
                {{log.log_name}}
                </a>
            </td>
        {% endfor %}
        </tr>
    <tr>
    {% for log in logs %}
        <td>
            {% include 'graph.html' with div_id=forloop.counter0 data=log|get_graph:reference %}
        </td>
    {% endfor %}
    </tr>
    <tr>
        {% for log in logs %}
            <td>
            {% include 'metrics.html' with name=log.log_name data=log|get_metrics:reference similarity=log|similarity:reference %}
            </td>
        {% endfor %}
        </tr>
</table>
<div class="d-flex justify-content-center">
    <!-- <a href="{{request.get_full_path}}&download=true" class="btn btn-primary">Download</a> -->
    <button id="download-button" class="btn btn-primary">Download</button>
</div>
{% endwith %}
{% endwith %}
<style type="text/css">
table {
    table-layout: fixed;
    width: 100%;
  }

  .selected {
      color: rgb(137, 184, 45);

  }
  .not-selected {
      color: #00529F;
  }

</style>
<script type="text/javascript">
// achte drauf, dass die sachen die du innerhalb der funktionen
// definierst hier initialisiert werden müssen, damit du
// in anderen Funktionen drauf zugreifen kannst
var dataURLs = []
var ref = 0
var logIDs = []
window.addEventListener('load', function() {
    var canvas = document.querySelectorAll('canvas')
    canvas.forEach(canv => {
        dataURLs.push(canv.toDataURL("image/png"))
    })
    // hier kannst du dir ggf daten schon definieren
    ref = "{{ref}}"
    var logs = "{% for log in logs %} {{log.pk}} {% endfor %}"
    logIDs = logs.split(" ")
    logIDs = logIDs.filter(el => el)
    console.log(logIDs)
    console.log(ref)
})
$("#download-button").click(function() {
    $.ajax({
        type: "post",
        url: '{% url "download_comparison" %}',
        data: {
            csrfmiddlewaretoken: '{{ csrf_token }}',
            imageURLs: JSON.stringify(dataURLs)
            // TODO: hier noch die data ergänzen
        },
        success: function(data) {
            //data.data.forEach((val, index) => console.log(val == dataURLs[index]))
            // do sth
        }
    })
})

</script>
{% endblock %}