{% extends 'base.html' %}

{% load static %}
{% load log_tags %}
{% block content %}
{% with reference=logs.0 %}
 <table class="table">
    <thead>
        <tr>
        {% for log in logs %}
            <th>
                {{log.log_name}}
            </th>
        {% endfor %}
        </tr>
    </thead>
    <tr>
    {% for log in logs %}
        <td>
            {% include 'graph.html' with div_id=forloop.counter0 data=log|get_graph:reference %}
        </td>
    {% endfor %}
    </tr>
    <tr>
        {% for log in logs %}
            <td>
            {% include 'metrics.html' with name=log.log_name data=log|get_metrics:reference %}
            </td>
        {% endfor %}
        </tr>
</table>
{% endwith %}
<style type="text/css">
table {
    table-layout: fixed;
    width: 100%;
  }
</style>
{% endblock %}