{% extends 'base.html' %}

{% load static %}
{% load log_tags %}
{% block content %}
{% with request.get_full_path as url %}

{# reference log is returned as the position in the log array #}
{% with reference=logs|index:ref %}
 <table class="table">
    <thead>
    {% for log in logs %}
       <th>
            {% unique_id_for_filter log.pk forloop.counter0 as id %}
            {% include 'filter.html' with log=log id=id%}
       </th>
    {% endfor %}
    </thead>
    <tr>
        {% for log in logs %}
            <td>
                <a href="{{url|create_ref_url:forloop.counter0}}" class="{% if log == reference %} selected {% else %} not-selected {% endif %}">
                {{log.log_name}}
                </a>
            </td>
        {% endfor %}
        </tr>
    <tr>
    {% for log in logs %}
        <td>
            {% include 'graph.html' with div_id=forloop.counter0 data=log|get_graph:reference %}
        </td>
    {% endfor %}
    </tr>
    <tr>
        {% for log in logs %}
            <td>
            {% include 'metrics.html' with name=log.log_name data=log|get_metrics:reference %}
            </td>
        {% endfor %}
        </tr>
</table>
{% endwith %}
{% endwith %}
<style type="text/css">
table {
    table-layout: fixed;
    width: 100%;
  }

  .selected {
      color: rgb(137, 184, 45);

  }
  .not-selected {
      color: #00529F;
  }

</style>
{% endblock %}