{% load static %}
{% block content %}
<div class="d-flex justify-content-center">
    <button id="download" class="btn btn-primary">Download comparison</button>
</div>
<script type="text/javascript">
$("#download").click(function() {
    data = {
        download: true
    }
    $.ajax(
        {
        url: "{{ request.get_full_path | safe }}",
        data: {
            download: true
        },
        dataType: 'json',
        success: function(data) {
            alert(data.data)
        }
   })
})
</script>
{% endblock %}