{% load static %}
{% load filter_tags %}
{% block content %}

<select id="filter-select{{id}}">
    {% for attribute in log.get_attributes %}
    <option value="{{id}}-{{attribute}}">{{attribute}}</option>
    {% endfor %}
</select>

<button id="sender-{{id}}">Click me</button>
<p id="my-ret{{id}}"></p>

<script type="text/javascript">
$("#sender-{{id}}").click(function() {
    var data = document.getElementById("filter-select{{id}}")
    $.ajax( {
        url: "{% url 'update_filter' %}",
        data: {
            data: data.value
        },
        dataType: 'json',
        success: function(data) {
            document.getElementById('my-ret{{id}}').innerHTML = data.response
        }


    })
})
</script>

{% endblock %}