{% extends 'base.html' %}
{% load static %}

{% block content %}

<h1>Hier kömnnten ihre logs compared werden</h1>
<a href="{{ request.get_full_path }}">Refresh</a>
{% if data %}
<ul>
    {% for file in data %}
    <li>{{file}}</li>
    {% endfor %}
</ul>
{% else %}
<p>No logs found. <a href="{{upload}}">Upload</a></p>
{% endif %}

{% endblock %}
<!-- 
{% block script %}
<script type="text/javascript">
$("button").click(function(e) {
    e.preventDefault();
    $.ajax({
        type: "GET",
        url: {{ path }}
    });
});
</script>
{% endblock %} -->