{% load static %}
{% block content %}

{% load metrics_tags %}
<table class="table table-striped">
    <thead class="thead-dark">
        {{name}}
    </thead>
    {% for key,value in data.items %}
    <tr>
        <td>
        <!-- {{key}}:{% if value.1 %}{{value.0}} <span class="{% if '+' in value.1  %}positive{% elif '-' in value.1 %} negative {% endif %}">{{value.1}}</span> {% else %} {{value}} {% endif %} -->
        
        {% if value|is_list %}
        {{key}}: {{value.0}} (<span class="{% if '+' in value.1 %} positive {% elif '-' in value.1 %} negative {% endif %}">{{value.1}}</span>)
        {% else %}
            {{key}}: {{value}}
        {% endif %}
        </td>   
    </tr>
    {% endfor %}
</table>
{% endblock %}

<style type="text/css">
    span {
        font-weight: bold;
    }
    .positive {
        color: red;
    }
    .negative {
        color: green;
    }
</style>