{% load static %}
{% block content %}

{% load metrics_tags %}
<table class="table table-striped">
    <thead class="thead-dark">
        <th>
            Similarity: {{similarity}}
        </th>
    </thead>
    {% for key,value in data.items %}
    <tr>
        <td>
        {% if value|is_list %}
            {# render difference in color according to its sign #}
            {{key|key_resolve}}: {{value.0}} (<span class="{% if '+' in value.1 %} positive {% elif '-' in value.1 %} negative {% endif %}">{{value.1}}</span>)
        {% else %}
            {{key|key_resolve}}: {{value}}
        {% endif %}
        </td>   
    </tr>
    {% endfor %}
</table>
{% endblock %}

<style type="text/css">
    span {
        font-weight: bold;
    }
    .positive {
        color: red;
    }
    .negative {
        color: green;
    }
</style>
