{% with request.path as url %}
{% load static %}
{% url 'user_manual_view' as usermanual %}
{% url 'manage_view' as manage %}
{% url 'select_comp_view' as compare %}
<nav class="nav nav-pills navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">
        <img src="{% static '/img/RWTH_logo.png' %}" width="102" height="28" alt="">
      </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link {% if url == manage %}active{% endif %}" href="{{ manage }}">Manage</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if url == compare %}active{% endif %}" href="{{ compare }}">Compare</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if url == usermanual %}active{% endif %}" href="{{ usermanual }}">User Manual</a>
        </li>
      </ul>
    </div>
  </nav>
{% endwith %}
