{% extends 'base.html' %}

{% block content %}
<form method="get" action='select_logs'>
    <h3 class="mt-4" style="color:#00529F;">Choose Number of Comparisons:</h3>
    <p>Please select a number of comparisons between 2 and 8.</p>
    <div class="form-group">
        <input type="number" class="form-control" id="nr_of_comparisons" value=2 min=2 max=8 name='nr_of_comparisons'>
        </select>
    </div>
    <button class="btn btn-primary" type="submit">Continue</button>
</form>
<style type="text/css">
    p {
    font-family: Arial, sans-serif;
    font-size: 18px;
    }
    form {
    width: 50%;
    position: relative;
    left: 50px;
    }
    #nr_of_comparisons {
    width: 30%; 
    }
</style>
{% endblock %}
