<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <style type="text/css">
        table {
        table-layout: auto;
        width: 100%;
        }
        img {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
        display: block;
        }
        body {
        font-family: Arial, sans-serif;
        font-size: 11px;
        }
        span {
        font-weight: bold;
        }
        .positive {
        color: red;
        }
        .negative {
        color: green;
        }
       h1,h3 {
            color:#00529F;
        }
    </style>
</head>
<body>
    <img src="static/img/RWTH_logo.png" width="102" height="28" alt="">
    <h1 class="mt-4">Comparative Process Mining</h1>
    <table class="table">
        <tr>
            {% for filter in isFrequency %}
            <td>
            <h3 class="mt-4">Event Log:</h3>    
            </td>
            {% endfor %}
        </tr>
        <tr>
        {% for name in names %}
            <td>
               {{name}}
            </td>
        {% endfor %}
        </tr>
        <tr>
            {% for filter in isFrequency %}
            <td>    
            <h3 class="mt-4">Selected Filters:</h3>    
            </td>
            {% endfor %}
        </tr>
        <tr>
            {% for filter in isFrequency %}
            <td>
            Edge Labeling: {{filter}}
            </td>
            {% endfor %}
        </tr>
        <tr>
            {% for filter in filters %}
            <td>
                {% for key, value in filter.items %}
                Filter Type: {{key}} <br> 
                Attribute: {{value}}
                {% endfor %}
            </td>
            {% endfor %}
        </tr>
        <tr>
            {% for filter in isFrequency %}
            <td>  
            <h3 class="mt-4">Process Model:</h3> 
            </td>
            {% endfor %}
        </tr>
        <tr>
        {% for graph in graphs %}
            <td>
            <img src="{{graph}}">
            </td>
        {% endfor %}
        </tr>
        <tr>
            {% for filter in isFrequency %}
            <td>  
            <h3 class="mt-4">Similarity Index:</h3> 
            </td>
            {% endfor %}
        </tr>
        <tr>
            {% for index in similarity %}
            <td>
                Similarity Index: {{index}}
            </td>
            {% endfor %}
        </tr>
        <tr>
            {% for filter in isFrequency %}
            <td>  
            <h3 class="mt-4">Metrics:</h3> 
            </td>
            {% endfor %}
        </tr>
        <tr>
        {% block content %}
        {% load metrics_tags %}
        {% for metric in metrics %}
        <td>
            {% for key, value in metric.items %}
                <table>
                    <tr>
                        <td>
                        {% if value|is_list %}
                            {# render difference in color according to its sign #}
                            {{key|key_resolve}}: {{value.0}} (<span class="{% if '+' in value.1 %} positive {% elif '-' in value.1 %} negative {% endif %}">{{value.1}}</span>)
                        {% else %}
                            {{key|key_resolve}}: {{value}}
                        {% endif %}
                        </td>
                    </tr>
                </table>
            {% endfor %}
        </td>
        {% endfor %}
        {% endblock %}
        </tr>
    </table>
</body>
</html>