<!DOCTYPE html>
<html>
<head>
    <title>Comparative Process Mining</title>
    {% load static %}
    <link rel="stylesheet" href="/static/css/xhtml2pdf_bootstrap.css">
    <style type="text/css">
        table {
        table-layout: fixed;
        width: 100%;
        }
        img {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
        }
    </style>
</head>
<body>
    <table class="table">
        <thead>
        {% for name in names %}
            <th>
                {{name}}
            </th>
        {% endfor %}
        </thead>
        <tr>
            {% for filter in filters %}
            <td>
            {{filter}}
            </td>
            {% endfor %}
            </tr>
        <tr>
        {% for graph in graphs %}
            <td>
            <img src="{{graph}}">
            </td>
        {% endfor %}
        </tr>
        {% for index in similarity %}
        <td>
            Similarity Index: {{index}}
        </td>
        {% endfor %}
        <tr>
        {% block content %}
        {% load metrics_tags %}
        {% for metric in metrics %}
        <td>
            {% for key, value in metric.items %}
                <table class="table">
                    <tr>
                        <td>
                        {% if value|is_list %}
                            {# render difference in color according to its sign #}
                            {{key|key_resolve}}: {{value.0}} (<span class="{% if '+' in value.1 %} positive {% elif '-' in value.1 %} negative {% endif %}">{{value.1}}</span>)
                        {% else %}
                            {{key|key_resolve}}: {{value}}
                        {% endif %}
                        </td>
                    </tr>
                </table>
            {% endfor %}
        </td>
        {% endfor %}
        {% endblock %}
        </tr>
    </table>
</body>
</html>

<style type="text/css">
    span {
        font-weight: bold;
    }
    .positive {
        color: red;
    }
    .negative {
        color: green;
    }
</style>
