{% extends 'base.html' %}
{% load static %}

{% block content %}

<center>
<h1 class="mt-4" style="color:#00529F;">Comparative Process Mining</h1>
<h2 class="mt-4" style="color:#00529F;">User Manual</h2>
<h4 class="mt-4" style="color:#00529F;">1. Uploading event logs</h4>

<div>
<br>
Please click on the button "Manage" on the menu bar to get to the page where you are able to upload a new event log.
<br><br>
<img style="border: 1px solid #000000" src="static/img/1_1_manage_page.png" width="900" height="600">
<br><br><br>
After you are on the "Manage" page, please click on the button "Choose file".
<br><br>
<img style="border: 1px solid #000000" src="static/img/1_1_select_log.png" width="900" height="600">
<br><br><br>
Now, you can choose a .xes/.csv file.<br>
Please click on the .xes/.csv file you want to upload (1.) and afterwards click on the button "Open" (2.).
<br><br>
<img style="border: 1px solid #000000" src="static/img/1_2_select_log.png" width="900" height="600">
<br><br><br>
After the .xes/.csv file is choosen and the last step is to click on the button "Upload EventLog" to upload it.
<br><br>
<img style="border: 1px solid #000000" src="static/img/1_3_select_log.png" width="900" height="600">
<br><br><br>
If your upload was successful, you will see the following "Upload successful" message.
<br><br>
<img style="border: 1px solid #000000" src="static/img/1_4_select_log.png" width="900" height="600">
<br><br>
</div>

<h4 class="mt-4" style="color:#00529F;">2. Deleting event logs</h4>
<br>
Please pick the uploaded event log you would like to delete by clicking on it (1.).<br>
Thereafter, click on the button "Delete" (2.) to erase the selected event log.
<br><br>
<img style="border: 1px solid #000000" src="static/img/2_1_deleting_event_log.png" width="900" height="600">
<br><br><br>
If your deletion was successful, you will see the following "Successfully deleted" message.
<br><br>
<img style="border: 1px solid #000000" src="static/img/2_2_deleting_event_log.png" width="900" height="600">
<br><br>

<h4 class="mt-4" style="color:#00529F;">3. Choose Number of Comparisons</h4>

<br><br>
<img style="border: 1px solid #000000" src="static/img/3_1_no_comparisons.png" width="900" height="600">
<br><br>
<br><br>
<img style="border: 1px solid #000000" src="static/img/3_2_no_comparisons.png" width="900" height="600">
<br><br>

<h4 class="mt-4" style="color:#00529F;">4. Select Uploaded Event Logs</h4>

<br><br>
<img style="border: 1px solid #000000" src="static/img/4_1_select_uploaded_event_logs.png" width="900" height="600">
<br><br>
<br><br>
<img style="border: 1px solid #000000" src="static/img/4_2_select_uploaded_event_logs.png" width="900" height="600">
<br><br>
<br><br>
<img style="border: 1px solid #000000" src="static/img/4_3_select_uploaded_event_logs.png" width="900" height="600">
<br><br>

<h4 class="mt-4" style="color:#00529F;">5. Pick Reference Log</h4>

As a default implementation the first log is the reference log.<br>
The reference log can be recognized by the green font of the event log title.<br>
By clicking on the title of another event log, this log will be selected as the new reference log.<br>
Consequently, the new reference log can be recognized by the green writing of its title.

<h4 class="mt-4" style="color:#00529F;">6. Select Filter</h4>

1. Choose Edge Labeling:<br>
For the graphical depiction of the edge in the Directly-Follows Graph (DFG), you can select either "Frequency" or "Performance". <br>
In addition, if "Performance" is choosen as edge labeling, <br>
there will be an further option to select between a visualization in "Seconds", "Minutes", "Hours" or "Days".<br>
<br>
2. Selected Filter Type:<br>
The filters "Case Performance", "Between Filter", "Case Size", "Timestamp (Contained)", "Timestamp (Intersecting)" or "Filter on attributes" can be selected.<br>
<br>
3. Filter Values or Attributes:<br>
For each of the filter types there are several attributes to choose from or options to type in a value for filtering.

<h4 class="mt-4" style="color:#00529F;">7. Apply Filter</h4>

The selected filters can be applied by clicking on the button "Apply Filter".

<h4 class="mt-4" style="color:#00529F;">8. Reset Filter</h4>

The applied filters can be reseted by clicking on the "Reset Filter" button.

<h4 class="mt-4" style="color:#00529F;">9. Directly-Follows Graph (DFG)</h4>

First of all, Directly-Follows Graphs (DFGs) show all the event logs based on the previously selected filters.<br>
According to this fact, the edges for example will be either labeled with "Frequency" or "Performance" values.<br>
Plus, in the case of "Performance" labels either in "Seconds", "Minutes", "Hours" or "Days".<br>
Second, the DFGs display all uploaded event logs and compare them with the picked reference log.<br>
Nodes that are similar to the reference log, will be highlighted in blue.<br>
On the other hand, the nodes that are different to the reference log, will be highlighted in red.

<h4 class="mt-4" style="color:#00529F;">10. Metrics</h4>

The metrics of all event logs will be displayed.
In addition, for all event logs that are different to the reference log, the difference between the logs will be displayed.<br>
Hereby, a filtered log that is the same log as the event log, but with choosen filters that lead to a different DFG,<br>
will be counted as a different log.

<h4 class="mt-4" style="color:#00529F;">11. PDF Download</h4>

After the appropriate event logs and filtes have been selected as well as the representation of the DFGs and metrics made,<br>
it is now possible to export the gathered information in PDF format by clicking on the "Download" button.

<h4 class="mt-4" style="color:#00529F;">12. New Comparison</h4>

Either click on "Compare" or on "Manage" on the bar menu.<br>
"Compare" is the correct option, if you don't want to upload an additional event log prior to the new comparison.<br>
But, if you want to upload a new event log, please go to the "Manage" page first and upload it.<br>
In accordance, either move on to 1. Uploading event logs or 3. Choose Number of Comparisons in the User Manual to continue.<br>

<h2 class="mt-4" style="color:#00529F;">Further Informations</h2>

<h4 class="mt-4" style="color:#00529F;">For further informations, we recommend you:</h4>

PM4Py Process Mining Library (<a href="https://pm4py.fit.fraunhofer.de/documentation">https://pm4py.fit.fraunhofer.de/documentation</a>)<br>
Process Mining in Practice (<a href="https://fluxicon.com/book/read/">https://fluxicon.com/book/read/</a>)<br>
<br>

</center>
<style type="text/css">
    div {
    font-family: Arial, sans-serif;
    font-size: 18px;
    }
</style>
{% endblock %}
