{% extends 'base.html' %}
{% load static %}

{% block content %}

<center>
<h1 class="mt-4" style="color:#00529F;">Comparative Process Mining</h1>
<h2 class="mt-4" style="color:#00529F;">User Manual</h2>
<h4 class="mt-4" style="color:#00529F;">1. Uploading event logs</h4>

<div>
<br>
Please click on the button "Manage" on the menu bar to get to the page where you are able to upload a new event log.
<br><br>
<img style="border: 1px solid #000000" src="static/img/1.1. Uploading event logs.png" width="900" height="600">
<br><br><br>
After you are on the "Manage" page, please click on the button "Choose file".
<br><br>
<img style="border: 1px solid #000000" src="static/img/1.2. Uploading event logs.png" width="900" height="600">
<br><br><br>
Now, you can choose a .xes/.csv file.<br>
Please click on the .xes/.csv file you want to upload (1.) and afterwards click on the button "Open" (2.).
<br><br>
<img style="border: 1px solid #000000" src="static/img/1.3. Uploading event logs.png" width="900" height="600">
<br><br><br>
After the .xes/.csv file is choosen and the last step is to click on the button "Upload EventLog" to upload it.
<br><br>
<img style="border: 1px solid #000000" src="static/img/1.4. Uploading event logs.png" width="900" height="600">
<br><br><br>
If your upload was successful, you will see the following "Upload successful" message.
<br><br>
<img style="border: 1px solid #000000" src="static/img/1.5. Uploading event logs.png" width="900" height="600">
<br><br>
</div>

<h4 class="mt-4" style="color:#00529F;">2. Deleting event logs</h4>
<br>
Please pick the uploaded event log you would like to delete by clicking on it (1.).<br>
Thereafter, click on the button "Delete" (2.) to erase the selected event log.
<br><br>
<img style="border: 1px solid #000000" src="static/img/2.1. Deleting event logs.png" width="900" height="600">
<br><br><br>
If your deletion was successful, you will see the following "Successfully deleted" message.
<br><br>
<img style="border: 1px solid #000000" src="static/img/2.2. Deleting event logs.png" width="900" height="600">
<br><br>

<h4 class="mt-4" style="color:#00529F;">3. Choose Number of Comparisons</h4>

Please click on the button "Compare" on the menu bar to get to the page where you are able to choose the number of comparisons.
<br><br>
<img style="border: 1px solid #000000" src="static/img/3.1. Choose Number of Comparisons.png" width="900" height="600">
<br><br><br>
After you are on the "Compare" page, please select the number of comparison you want to make between 2 and 8 (1.) 
<br>and confirm your choice by clicking on the button "Continue".
<br><br>
<img style="border: 1px solid #000000" src="static/img/3.2. Choose Number of Comparisons.png" width="900" height="600">
<br><br>

<h4 class="mt-4" style="color:#00529F;">4. Select Uploaded Event Logs</h4>

After you have confirmed your selected number of comparisons, please now select the uploaded event logs you want to compare
<br> by clicking on the drop-down lists.
<br><br>
<img style="border: 1px solid #000000" src="static/img/4.1. Select Uploaded Event Logs.png" width="900" height="600">
<br><br><br>
By clicking on each of the drop-down lists, you can choose an event log.
<br><br>
<img style="border: 1px solid #000000" src="static/img/4.2. Select Uploaded Event Logs.png" width="900" height="600">
<br><br><br>
After you have completed you selection, you confirm it by clicking on the button "Continue".
<br><br>
<img style="border: 1px solid #000000" src="static/img/4.3. Select Uploaded Event Logs.png" width="900" height="600">
<br><br>

<h4 class="mt-4" style="color:#00529F;">5. Pick Reference Log</h4>

As a default implementation the first log is the reference log.<br>
The reference log can be recognized by the green font of the event log title.<br>
By clicking on the title of another event log, this log will be selected as the new reference log.<br><br>

<img style="border: 1px solid #000000" src="static/img/5.1. Pick Reference Log.png" width="900" height="600">

<br><br><br>
Consequently, the new reference log can be recognized by the green writing of its title.
<br><br>
<img style="border: 1px solid #000000" src="static/img/5.2. Pick Reference Log.png" width="900" height="600">

<h4 class="mt-4" style="color:#00529F;">6. Select Filter</h4>

1. Choose Edge Labeling:<br>
For the graphical depiction of the edge in the Directly-Follows Graph (DFG), you can select either "Frequency" or "Performance". <br><br>

<img style="border: 1px solid #000000" src="static/img/6.1.1. Select Filter.png" width="900" height="600"><br><br>
<img style="border: 1px solid #000000" src="static/img/6.1.2. Select Filter.png" width="900" height="600"><br><br>
<br>
In addition, if "Performance" is chosen as edge labeling, <br>
there will be an further option to select between a visualization in "Seconds", "Minutes", "Hours" or "Days".<br><br>

<img style="border: 1px solid #000000" src="static/img/6.1.3. Select Filter.png" width="900" height="600"><br><br>
<img style="border: 1px solid #000000" src="static/img/6.1.4. Select Filter.png" width="900" height="600"><br><br>
<img style="border: 1px solid #000000" src="static/img/6.1.5. Select Filter.png" width="900" height="600"><br><br>

2. Selected Filter Type:<br>
The filters "Case Performance", "Between Filter", "Case Size", "Timestamp (Contained)", "Timestamp (Intersecting)" or "Filter on attributes" can be selected.<br>
<br>
<img style="border: 1px solid #000000" src="static/img/6.2.1. Select Filter.png" width="900" height="600"><br><br>
<img style="border: 1px solid #000000" src="static/img/6.2.2. Select Filter.png" width="900" height="600"><br><br>
<br>
3. Two Example Cases to demonstrate the selection of the filters:<br><br>
- Between Filter <br>
- Filter on attributes
<br><br><br>
Between filter:
<br><br>

<img style="border: 1px solid #000000" src="static/img/6.2.3. Select Filter.png" width="900" height="600"><br><br>
<img style="border: 1px solid #000000" src="static/img/6.2.4. Select Filter.png" width="900" height="600"><br><br>
<br>
Apply Filter: The selected filters can be applied by clicking on the button "Apply Filter".
<br><br>
<img style="border: 1px solid #000000" src="static/img/6.2.5. Select Filter.png" width="450" height="750"><br><br>
<br>
The result:
<br><br>
<img style="border: 1px solid #000000" src="static/img/6.2.6. Select Filter.png" width="450" height="750"><br><br>
<br>
Filter on Attributes:<br>
(Change "attributes" to "Attributes" in "Select Filter" list + make sure that capital letters are consistent throughout the other lists, too!)<br><br>
(Filter Values or Attributes:)<br>
For each of the filter types there are several attributes to choose from or options to type in a value for filtering.<br>
<br><br>
<img style="border: 1px solid #000000" src="static/img/6.3.1. Select Filter.png" width="900" height="600"><br><br>
<img style="border: 1px solid #000000" src="static/img/6.3.2. Select Filter.png" width="900" height="600"><br><br>
<img style="border: 1px solid #000000" src="static/img/6.3.3. Select Filter.png" width="900" height="600"><br><br>
<img style="border: 1px solid #000000" src="static/img/6.3.4. Select Filter.png" width="900" height="600"><br><br>
<img style="border: 1px solid #000000" src="static/img/6.3.5. Select Filter.png" width="900" height="600"><br><br>
<img style="border: 1px solid #000000" src="static/img/6.3.6. Select Filter.png" width="900" height="600"><br><br>
<br>
Apply Filter: The selected filters can be applied by clicking on the button "Apply Filter".
<br><br>
<img style="border: 1px solid #000000" src="static/img/6.3.7. Select Filter.png" width="450" height="800"><br><br>
<br>
The result:
<br><br>
<img style="border: 1px solid #000000" src="static/img/6.3.8. Select Filter.png" width="450" height="800">
<br><br>
3. Filter Values or Attributes:<br>
For each of the filter types there are several attributes to choose from or options to type in a value for filtering.<br>
<br>

<h4 class="mt-4" style="color:#00529F;">7. Reset Filter</h4>

The applied filters can be reseted by clicking on the "Reset Filter" button.<br><br>
<img style="border: 1px solid #000000" src="static/img/7.1. Reset Filter.png" width="450" height="800"><br><br>
<br>
The result:
<br><br>
<img style="border: 1px solid #000000" src="static/img/7.2. Reset Filter.png" width="450" height="800">

<h4 class="mt-4" style="color:#00529F;">8. Directly-Follows Graph (DFG)</h4>

First of all, Directly-Follows Graphs (DFGs) show all the event logs based on the previously selected filters.<br>
According to this fact, the edges for example will be either labeled with "Frequency" or "Performance" values.<br>
Plus, in the case of "Performance" labels either in "Seconds", "Minutes", "Hours" or "Days".<br>
Second, the DFGs display all uploaded event logs and compare them with the picked reference log.<br>
Nodes that are similar to the reference log, will be highlighted in blue.<br>
On the other hand, the nodes that are different to the reference log, will be highlighted in red.
<br><br>
<img style="border: 1px solid #000000" src="static/img/8. Directly-Follows Graph.png" width="900" height="550">

<h4 class="mt-4" style="color:#00529F;">9. Metrics</h4>

The metrics of all event logs will be displayed.
In addition, for all event logs that are different to the reference log, the difference between the logs will be displayed.<br>
Hereby, a filtered log that is the same log as the event log, but with choosen filters that lead to a different DFG,<br>
will be counted as a different log.
<br><br>
<img style="border: 1px solid #000000" src="static/img/9. Metrics.png" width="900" height="375">

<h4 class="mt-4" style="color:#00529F;">10. PDF Download</h4>

After the appropriate event logs and filtes have been selected as well as the representation of the DFGs and metrics made,<br>
it is now possible to export the gathered information in PDF format by clicking on the "Download" button.
<br><br>
<img style="border: 1px solid #000000" src="static/img/10. PDF Download.png" width="720" height="480">

<h4 class="mt-4" style="color:#00529F;">11. New Comparison</h4>

Either click on "Compare" or on "Manage" on the bar menu.<br>
"Compare" is the correct option, if you don't want to upload an additional event log prior to the new comparison.
<br><br>
<img style="border: 1px solid #000000" src="static/img/11.1. New Comparison.png" width="900" height="600"><br><br>
<br>
But, if you want to upload a new event log, please go to the "Manage" page first and upload it.<br>
In accordance, either move on to 1. Uploading event logs or 3. Choose Number of Comparisons in the User Manual to continue.<br>
<br>
<img style="border: 1px solid #000000" src="static/img/11.2. New Comparison.png" width="900" height="600">

<h2 class="mt-4" style="color:#00529F;">Further Informations</h2>

<h4 class="mt-4" style="color:#00529F;">For further informations, we recommend you:</h4>

PM4Py Process Mining Library (<a href="https://pm4py.fit.fraunhofer.de/documentation">https://pm4py.fit.fraunhofer.de/documentation</a>)<br>
Process Mining in Practice (<a href="https://fluxicon.com/book/read/">https://fluxicon.com/book/read/</a>)<br>
<br>

</center>

<style type="text/css">
    h1,h2,h4 {
        color: #00529F;
        margin-top: 1.5rem;
    }
    img {
        border: 1px solid #000000;
    }
</style>
{% endblock %}
