{% extends 'base.html' %}
{% load static %}
{% block content %}

<center>
    <h3>User Manual</h3>
    <h5 id="overview">Overview</h5>
    <div class="overview_space_below">
    <a href="#section1">
        <h6>1. Uploading event logs</h6>
    </a>
    <a href="#section2">
        <h6>2. Deleting event logs</h6>
    </a>
    <a href="#section3">
        <h6>3. Choose Number of Comparisons</h6>
    </a>
    <a href="#section4">
        <h6>4. Select Uploaded Event Logs</h6>
    </a>
    <a href="#section5">
        <h6>5. Pick Reference Log</h6>
    </a>
    <a href="#section6">
        <h6>6. Select Filter</h6>
    </a>
    <a href="#section7">
        <h6>7. Reset Filter</h6>
    </a>
    <a href="#section8">
        <h6>8. Directly-Follows Graph (DFG)</h6>
    </a>
    <a href="#section9">
        <h6>9. Metrics</h6>
    </a>
    <a href="#section10">
        <h6>10. PDF Download</h6>
    </a>
    <a href="#section11">
        <h6>11. New Comparison</h6>
    </a>
    <a href="#section12">
        <h6>Further Informations</h6>
    </a>
    </div>

    <h5 id="section1">1. Uploading event logs</h5>
    <p>
        Please click the "Manage" button on the navigation bar to get to the page where you can upload a new event
        log.
    </p>
    <img class="picture_type1" src="static/img/1.1. Uploading event logs.png">
    <p>
        After you are on the Manage page of the tool, please click the "Choose file" button.
    </p>
    <img class="picture_type1" src="static/img/1.2. Uploading event logs.png">
    <p>
        1. Choose a .xes/.csv file you want to upload.<br>
        2. Please click the "Open" button.
    </p>
    <img class="picture_type1" src="static/img/1.3. Uploading event logs.png">
    <p>
        After the .xes/.csv file is chosen, the final step is to click the "Upload EventLog" button to upload it.
    </p>
    <img class="picture_type1" src="static/img/1.4. Uploading event logs.png">
    <p>
        If your upload was successful, you will see the following "Upload successful" message.
    </p>
    <img class="picture_type1" src="static/img/1.5. Uploading event logs.png">

    <h5 id="section2">2. Deleting event logs</h5>
    <p>
        1. Click on the uploaded event log that you want to delete.<br>
        2. Click the "Delete" button to erase the selected event log.
    </p>
    <img class="picture_type1" src="static/img/2.1. Deleting event logs.png">
    <p>
        If your deletion was successful, you will see the following "Successfully deleted" message.
    </p>
    <img class="picture_type1" src="static/img/2.2. Deleting event logs.png">

    <h5 id="section3">3. Choose Number of Comparisons</h5>
    <p>
        Please click the "Compare" button on the navigation bar to get to the "Compare" page where you can choose the
        number of comparisons.
    </p>
    <img class="picture_type1" src="static/img/3.1. Choose Number of Comparisons.png">
    <p>
        1. Please select the number of comparisons you want to make between 2 and 8.<br>
        2. Click the "Continue" button to confirm your choice.
    </p>
    <img class="picture_type1" src="static/img/3.2. Choose Number of Comparisons.png">

    <h5 id="section4">4. Select Uploaded Event Logs</h5>
    <p>
        Please click the drop-down lists to select the uploaded event logs you would like to compare.<br>
        (The number of drop-down lists corresponds to the previously selected number of comparisons.)
    </p>
    <img class="picture_type1" src="static/img/4.1. Select Uploaded Event Logs.png">
    <p>
        Please choose an event log from the displayed drop-down lists that will be shown later in the comparison.
    </p>
    <img class="picture_type1" src="static/img/4.2. Select Uploaded Event Logs.png">
    <p>
        After you have completed your selection, click the "Continue" button to confirm it.
    </p>
    <img class="picture_type1" src="static/img/4.3. Select Uploaded Event Logs.png">

    <h5 id="section5">5. Pick Reference Log</h5>
    <p>
        As a default implementation the first (far left) log is the reference log. The reference log can be recognized
        by the green font of the event log title.<br>
        If you click the title of another event log, this log will be selected as the new reference log.
    </p>
    <img class="picture_type1" src="static/img/5.1. Pick Reference Log.png">
    <p>
        Consequently, the new reference log can be recognized by the green writing of its title.
    </p>
    <img class="picture_type1" src="static/img/5.2. Pick Reference Log.png">

    <h5 id="section6">6. Select Filter</h5>
    <p>
        <b>6.1. Choose Edge Labelling:</b><br>
        Click on the first (top) filter to select the edge label.
    </p>
    <img class="picture_type1" src="static/img/6.1.1. Select Filter.png">
    <p>
        For the graphical depiction of the edge labels in the Directly-Follows Graph (DFG), you can select either "Frequency"
        or "Performance".
    </p>
    <img class="picture_type1" src="static/img/6.1.2. Select Filter.png">
    <p>
        In addition, there is another option for choosing between different time units when selecting "Performance".
        To do this, click on the list with the default label "Seconds" and select the appropriate time unit.
    </p>
    <img class="picture_type1" src="static/img/6.1.3. Select Filter.png">
    <p>
        You can select between the following time units for the visualization:
    <ul>
        <li>"Seconds"</li>
        <li>"Minutes"</li>
        <li>"Hours"</li>
        <li>"Days"</li>
    </ul>
    </p>
    <img class="picture_type1" src="static/img/6.1.4. Select Filter.png">
    <p>
        As an example, you can see the time unit selection "Days".
    </p>
    <img class="picture_type1" src="static/img/6.1.5. Select Filter.png">
    <p>
        <b>6.2. Selected Filter Type:</b><br>
        Click the "Select Filter" list to select a filter.
    </p>
    <img class="picture_type1" src="static/img/6.2.1. Select Filter.png">
    <p>
        The selectable filters are:
    <ul>
        <li>"Case Performance"</li>
        <li>"Between Filter"</li>
        <li>"Case Size"</li>
        <li>"Timestamp (Contained)"</li>
        <li>"Timestamp (Intersecting)"</li>
        <li>"Filter on Attributes"</li>
    </ul>
    </p>
    <img class="picture_type1" src="static/img/6.2.2. Select Filter.png">
    <p>
        <b>6.3. Two Example Cases to demonstrate the selection and application of the filters:</b><br>
    <ul>
        <li><a href="#section6.3.1.">6.3.1. Between Filter</a></li>
        <li><a href="#section6.3.2.">6.3.2. Filter on Attributes</a></li>
    </ul>
    </p>
    

    <p id="section6.3.1."><b>6.3.1. Between Filter:</b></p>
    <p>
        After you have selected "Between Filter" in the "Select Filter" list, click on the first list below the list in
        which you previously selected the "Between Filter".<br>
        (As a default choice you will see one activity of the Event Log (In this case: "Create Fine").)
    </p>
    <img class="picture_type1" src="static/img/6.2.3. Select Filter.png">
    <p>
        Next, choose the first (start) activity. The first one will be the start activity and the second one the end
        activity.
    </p>
    <img class="picture_type1" src="static/img/6.2.4. Select Filter.png">
    <p>
        Then click on the second list below the list in which you previously selected the "Between Filter".<br>
        (As a default choice you will also see one activity of the Event Log (In this case: "Create Fine").)
    </p>
    <img class="picture_type1" src="static/img/6.2.5. Select Filter.png">
    <p>
        Next, select the second (end) activity.
    </p>
    <img class="picture_type1" src="static/img/6.2.6. Select Filter.png">
    <p>
        Lastly, click on "Apply Filter" to apply the selected Between Filter.
    </p>
    <img class="picture_type2" src="static/img/6.2.7. Select Filter.png">
    <p>
        In this case the following Directly-Follows Graph is the result.
    </p>
    <img class="picture_type2" src="static/img/6.2.8. Select Filter.png">

    <p id="section6.3.2."><b>6.3.2. Filter on Attributes:</b></p>
    <p>
        For each type of Attribute Filter, there are multiple attributes to choose from or options for entering a value for 
        filtering.<br>
        First, click the attribute list to select an Attribute Filter type.
        As a default selection you will see an attribute of the Event Log (In this case: "amount").
    </p>
    <img class="picture_type1" src="static/img/6.3.1. Select Filter.png">
    <p>
        Next, choose the attribute from the list that you want to use for filtering.
    </p>
    <img class="picture_type1" src="static/img/6.3.2. Select Filter.png">
    <p>
        Then select the parameters that correspond to the filtering you want.
        For this specific type of attribute filtering, click on the associated list.
    </p>
    <img class="picture_type1" src="static/img/6.3.3. Select Filter.png">
    <p>
        Next, select a value from the list.
    </p>
    <img class="picture_type1" src="static/img/6.3.4. Select Filter.png">
    <p>
        Then click on the associated operator list.
    </p>
    <img class="picture_type1" src="static/img/6.3.5. Select Filter.png">
    <p>
        Please select an operator that corresponds to the filtering you want.
    </p>
    <img class="picture_type1" src="static/img/6.3.6. Select Filter.png">
    <p>
        Lastly, click on "Apply Filter" to apply the selected Attribute Filter.
    </p>
    <img class="picture_type2" src="static/img/6.3.7. Select Filter.png">
    <p>
        In this case the following Directly-Follows Graph is the result.
    </p>
    <img class="picture_type2" src="static/img/6.3.8. Select Filter.png">

    <h5 id="section7">7. Reset Filter</h5>
    <p>
        Please click the "Reset Filter" button to reset the applied filters.
    </p>
    <img class="picture_type2" src="static/img/7.1. Reset Filter.png">
    <p>
        After that, the following Directly-Follows Graph without any applied filters is the result.
    </p>
    <img class="picture_type2" src="static/img/7.2. Reset Filter.png">

    <h5 id="section8">8. Directly-Follows Graph (DFG)</h5>
    <p>
        The Directly-Follows Graphs (DFGs) show all the event logs based on the filters previously selected.<br>
        In addition, all displayed DFGs are compared with the reference log 
        (<a href="#section5">See: 5. Pick Reference Log</a>).<br>
        If nodes are part of the reference log, they are highlighted in blue. If nodes are not part of the reference
        log, they are highlighted in red.
    </p>
    <img class="picture_type3" src="static/img/8. Directly-Follows Graph.png" width="810" height="495">

    <h5 id="section9">9. Metrics</h5>
    <p>
        The metrics of all event logs displayed are shown.
        In addition, if an event log is different from the reference log, the difference between <br>
        the logs is also displayed.<br>
        (A filtered log that is identical to the reference log, but with chosen filters that lead to a different DFG,
        is also counted as a different log.)
    </p>
    <img class="picture_type3" src="static/img/9. Metrics.png" width="810" height="340">

    <h5 id="section10">10. PDF Download</h5>
    <p>
        After choosing the appropriate event logs and filters and displaying the DFGs and metrics,<br>
        it is now possible to export the collected information and results in PDF format by clicking on the "Download"
        button.
    </p>
    <img class="picture_type3" src="static/img/10. PDF Download.png" width="600" height="400">

    <h5 id="section11">11. New Comparison</h5>
    <p>
        From the navigation bar, click either the "Compare" or "Manage" button.<br>
        "Compare" is the right choice if you do not want to upload an additional event log before the new
        comparison.<br>
        Accordingly, proceed with <a href="#section3">3. Choose Number of Comparisons</a> in the User Manual.
    </p>
    <img class="picture_type1" src="static/img/11.1. New Comparison.png">
    <p>
        However, if you would like to upload a new event log first, please go to the "Manage" page and upload it.<br>
        Correspondingly, proceed with <a href="#section1">1. Uploading event logs</a> in the User Manual.
    </p>
    <img class="picture_type1" src="static/img/11.2. New Comparison.png">

    <h5 id="section12">Further Informations</h5>
    <ul>
        <li><a href="https://pm4py.fit.fraunhofer.de/documentation">PM4Py Process Mining Library</a></li>
        <li><a href="https://fluxicon.com/book/read/">Process Mining in Practice</a></li>
        <li><a href="https://github.com/dominikgeissler/comparative-process-mining">GitHub</a></li>
    </ul>
    <div class="end_space_below">
    <p>
        Back to <a href="#overview">overview</a>.
    </p>
    </div>

</center>

<style type="text/css">
    h3,
    h5,
    h6 {
        color: #00529F;
        margin-top: 1.5rem;
        position: relative;
        text-align: left;
        margin-bottom: 1em;
        left: 50px;
    }

    .picture_type1 {
        border: 1px solid #000000;
        text-align: center;
        width: 720px;
        height: 480px;
        margin-top: 1em;
        margin-bottom: 3em;
    }

    .picture_type2 {
        border: 1px solid #000000;
        text-align: center;
        width: 405px;
        height: 675px;
        margin-top: 1em;
        margin-bottom: 3em;
    }

    .picture_type3 {
        border: 1px solid #000000;
        text-align: center;
        margin-top: 1em;
        margin-bottom: 3em;
    }

    p {
        font-family: Arial, sans-serif;
        font-size: 18px;
        width: 100%;
        position: relative;
        text-align: left;
        left: 50px;
    }

    .overview_space_below {
        margin-bottom: 4em;
    }

    .end_space_below {
        margin-bottom: 2em;
    }

    ul {
        font-family: Arial, sans-serif;
        font-size: 18px;
        width: 100%;
        position: relative;
        text-align: left;
        left: 50px;
        margin-bottom: 2em;
    }
</style>
{% endblock %}
